{% extends 'blog/base.html' %}


{% block title %} Index {% endblock title %}
{% load static %}
{% block css_additional %}
        <link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'blog:index' %}" method="GET">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Popular posts: </h2></legend>
        <ul class="list-group list-group-flush">
            {% for post in posts %}
                <li class="list-group-item"><a href="{% url 'blog:post_detail' post.id %}?next={{ request.path }}">{{ post }}</a>
                       <span class="badge badge-primary badge-pill">Comments: {{ post.comment_count }}</span></li>
            {% endfor %}
        </ul>
        </fieldset>
        <br>
    </form>
{% endblock content %}


