{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block title %} Index {% endblock title %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'blog:post_create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label>{{ field.label }}</label>
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class+="form-control is-invalid" %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    {% else %}
                        {% render_field field class+="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class+="form-control" %}
                {% endif %}
            </div>
        {% endfor %}
        <br>
        <input class="btn btn-success" type="submit" value="Create!">
    </form>
    <a href="{% url 'blog:post_list' %}">Return to Post list</a>
    {% include 'includes/return_index.html' %}
{% endblock content %}